@CHARSET "UTF-8";
body {
	text-align: center;
}
div#all {
	width: 1200px;
}
body div {
	margin: auto
}
div#menu {
	float: left;
	width: 200px;
}
div#content {
	float: right;
	width: 960px;
	padding:5px;
}
div#top {
	text-align: left;
	padding:10px;
	padding-left:60px;
}
#menu ul li {
	list-style-type: none;
}

table.listTable {
	margin:auto
}

table.listTable td, table.listTable th {
	padding:  3px;
}

table.listTable th {
	background-color: #7ec67e;
}

.oddRow {
	background-color: #4aa6ba;
}

.evenRow {
	background-color: #31d231;	
}

h3 {
	text-align: left;
	padding-left: 10%;
}

div.underListTableOptions {
	text-align: left;
	padding: 5px;
	padding-left: 10%;
}

table.form {
	text-align: left;
}
div.formButtons {
	text-align: left;
	padding-left: 80px;
}

.info {
	list-style-type: none;
	color: #27ba27;
	font-weight: bold;
}
div.infoContener {
	background-color: #80ff80;
	border-style: solid;
	border-color: #27ba27;
	padding: 5px;
	margin: 5px;
}
.errors {
	list-style-type: none;
	color: #ca2727;
	font-weight: bold;
}
div.errorContener {
	background-color: #FF8080;
	border-style: solid;
	border-color: #ca2727;
	padding: 5px;
	margin: 5px;
}
